body {
    background: url("coffeebackground.jpeg") no-repeat center center fixed;
    background-size: cover;
};

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "image image description"
      "image image .";
  }
  
  .image { grid-area: image; }
  
  .description { grid-area: description; }
  