{% extends 'base.html' %}
{% block content %}
   <h1 style="text-align:center">ADD MUGS TO DATABASE:</h1>
   <div>
        <form method="POST" class="container col-4">
            {{ form.hidden_tag() }}
            {{form.title(class='form-control', placeholder='title')}}
            {{form.img_url(class='form-control', placeholder='img url')}}
            {{form.caption(class='form-control', placeholder='caption')}}
            {{form.price(class='form-control', placeholder='price')}}
            {{form.quantity(class='form-control', placeholder='quantity')}}
            {{form.submit}}
        </form>
   </div>
   
{% endblock %}